<!-- <div class="top-bar">
  <div class="contact">
    <a href="tel:01124567892">01124567892</a
    ><a href="mailto:info@fashionfolio.com"> info&#64;fashionfolio.com</a>
  </div>
  <p>Follow us and get a chance to win 75% off</p>
  <div class="social-icons">
    <p>Follow us:</p>
    <ul>
      <li>
        <a href=""><img src="assets/images/social/facebook.png" alt="fb" /></a>
      </li>
      <li>
        <a href=""
          ><img src="assets/images/social/instagram.png" alt="insta"
        /></a>
      </li>
      <li>
        <a href=""><img src="assets/images/social/tik-tok.png" alt="tt" /></a>
      </li>
      <li>
        <a href=""><img src="assets/images/social/youtube.png" alt="yt" /></a>
      </li>
    </ul>
  </div>
</div> -->
<div class="header-container">
  <mat-toolbar>
    <a href="#" routerLink="home"
      ><img src="assets/images/logo/fashionfolio logo 1.svg" alt="logo"
    /></a>
    <span class="spacer"></span>
    <ng-container *ngIf="(isHandset$ | async) === false; else mobileMenu">
      <button mat-button (click)="goHome()">Home</button>
      <button mat-button (click)="goProducts()">Products</button>
      <button mat-button (click)="goContact()">Contact</button>

      <span class="spacer"></span>
    </ng-container>
    <button mat-icon-button *ngIf="isAuthenticated$" (click)="goFavorites()">
      <mat-icon matBadge="3" matBadgeColor="warn">favorite</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isAuthenticated$" (click)="goCart()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-button *ngIf="!isAuthenticated$" (click)="goSignUp()">
      Sign Up
    </button>
    <button
      class="display"
      mat-button
      *ngIf="!isAuthenticated$"
      (click)="goLogin()"
    >
      Login
    </button>
    <div class="dropdown" *ngIf="isAuthenticated$">
      <button
        class="btn dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="color: #2a7cc7"
      >
        <mat-icon>person</mat-icon>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#">Profile</a>
        </li>
        <li (click)="onLogout()">
          <a class="dropdown-item" href="#">Logout</a>
        </li>
      </ul>
    </div>
    <ng-template #mobileMenu>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goHome()">Home</button>
        <button mat-menu-item (click)="goProducts()">Products</button>
        <button mat-menu-item (click)="goContact()">Contact</button>
        <button mat-menu-item *ngIf="!isAuthenticated$" (click)="goSignUp()">
          Sign Up
        </button>
        <button mat-button *ngIf="!isAuthenticated$" (click)="goLogin()">
          Login
        </button>
      </mat-menu>
    </ng-template>
  </mat-toolbar>
</div>
