<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-section">
      <h3>About Us</h3>
      <p>
        E-Shop is your one-stop destination for all your shopping needs. We
        offer a wide range of products at competitive prices.
      </p>
    </div>
    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#" routerLink="home">Home</a></li>
        <li><a href="#" routerLink="our-product">Products</a></li>
        <li><a href="#" routerLink="contact">Contact</a></li>
        <!-- <li><a href="#">FAQ</a></li> -->
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contact Us</h3>
      <p>
        123 E-Commerce St.<br />
        Shopville, SP 12345<br />
        Phone: (123) 456-7890<br />
        Email: info&#64;eshop.com
      </p>
    </div>
    <div class="footer-section">
      <h3>Newsletter</h3>
      <form [formGroup]="newsletterForm" (ngSubmit)="onSubscribe()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Your email"
          />
          <mat-error *ngIf="newsletterForm.get('email')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="newsletterForm.get('email')?.hasError('email')"
            >Please enter a valid email</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="newsletterForm.invalid"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <!-- <div class="social-icons">
      <a href="#" target="_blank"><mat-icon>facebook</mat-icon></a>
      <a href="#" target="_blank"><mat-icon>twitter</mat-icon></a>
      <a href="#" target="_blank"><mat-icon>instagram</mat-icon></a>
      <a href="#" target="_blank"><mat-icon>linkedin</mat-icon></a>
    </div> -->
    <p>&copy; 2024 FashionFolio. All rights reserved.</p>
  </div>
</footer>
