<div class="row">
  <tree-list
    class="border col-md-3 col-lg-2"
    (categorySelected)="onCategorySelected($event)"
  ></tree-list>
  <div class="container col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div *ngIf="filteredProducts.length === 0" class="no-products-message">
      <h2>No products found for this category.</h2>
    </div>
    <div class="item" *ngFor="let product of filteredProducts">
      <mat-card class="example-card" appearance="outlined">
        <img mat-card-image [src]="product.image" alt="Photo of a Shiba Inu" />
        <br />
        <div class="price">${{ product.price }}</div>
        <div class="title">
          {{ product.title }}
        </div>
        <mat-card-actions>
          <button mat-flat-button>Add to Card</button>
          <button mat-icon-button (click)="toggleFavorite(product)">
            <mat-icon *ngIf="isFavorite(product.id)">favorite</mat-icon>
            <mat-icon *ngIf="!isFavorite(product.id)">favorite_border</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<h2 class="favorite">Your Favorite Products</h2>
<div *ngIf="showFavorites" class="container">
  <div class="item" *ngFor="let product of favoriteProducts">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image [src]="product.image" alt="Photo of a Shiba Inu" />
      <br />
      <div class="price">${{ product.price }}</div>
      <div class="title">
        {{ product.title }}
      </div>
      <mat-card-actions>
        <button mat-flat-button>Add to Card</button>
        <button mat-icon-button (click)="toggleFavorite(product)">
          <mat-icon *ngIf="isFavorite(product.id)">favorite</mat-icon>
          <mat-icon *ngIf="!isFavorite(product.id)">favorite_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
