p {
    margin: auto;
    font-size: 40px;
    background-color: blue;
    color: white;
    padding: 100px;
    text-align: center;
}

.example-card {
  width: 350px;
  height: 450px;
  float: left;
  border-radius: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover
}

.container {
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

img
{
  width: 200px;
  height: 300px;
  margin: 0 auto;
}

.price {
  color: rgb(235, 103, 63);
  font-weight: bolder;
  font-size: large;
  padding: 5px;
}

.title {
  font-size: 16px;
  padding: 5px;
}

/* button {
  background-color: #689AB5;
  color: white;
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 10px;
}
mat-card-actions {
  justify-content: center;
} */
