<div class="cart-container">
  <div class="breadcrumb">
    <a id="Home" href="/">Home</a> / <span>Cart</span>
  </div>

  <table mat-table class="cart-table">
    <thead>
      <tr mat-header-row>
        <th mat-header-cell>Product</th>
        <th mat-header-cell>Product image</th>
        <th mat-header-cell>Price</th>
        <th mat-header-cell>Quantity</th>
        <th mat-header-cell>Total Price</th>
      </tr>
    </thead>
    <br />
    <tbody>
      <!-- *ngFor="let item of cartItems$ | async"-->
      <tr *ngFor="let item of cartItems; let i = index">
        <td>{{ item.name }}</td>
        <td>
          <img
            [src]="item.imageURL"
            alt="{{ item.name }}"
            width="50"
            height="50"
          />
        </td>
        <td>${{ item?.price }}</td>
        <td>
          <input
            id="quantity"
            type="number"
            [value]="item.quantity"
            min="1"
            (change)="updateQuantity(i, $event)"
          />
        </td>
        <td>${{ item.price * item.quantity }}</td>
        <td>
          <button
            mat-icon-button
            style="color: var(--button-color)"
            (click)="removeFromCart(item)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <ng-template #noItems>
      <p>Your cart is empty.</p>
    </ng-template>
  </table>

  <div class="cart-buttons">
    <div class="example-button-row">
      <button
        mat-stroked-button
        (click)="returnToShop()"
        style="color: #f0f0f0; background-color: var(--button-color)"
      >
        Return to Shop
      </button>
    </div>
  </div>
  <br />
  <div *ngIf="loading" class="loading-spinner">
    <p>Loading...</p>
    <!-- Replace with a custom spinner or animation if desired -->
  </div>
  <div>
    <app-cart-summary [totalPrice]="totalPrice"></app-cart-summary>
  </div>
</div>

<!-- <div *ngIf="cartItems.length > 0; else noItems">
  <h2>Your Cart</h2>
  <ul>
    <li *ngFor="let item of cartItems">
      <h3>{{ item.productId }}</h3>
      <p>Quantity: {{ item.quantity }}</p>
      <button (click)="removeFromCart(item)">Remove</button>
    </li>
  </ul>
</div>

<ng-template #noItems>
  <p>Your cart is empty.</p>
</ng-template> -->
