.banner {
  background-image: url(/assets/images/main-banner.jpg);
  background-size: cover;
  background-position: top right;
  height: 600px;
  width: 100%;
  display: flex;
  color: white;
}

.content {
  padding: 30px;
  width: 450px;
}

h1 {
  font-size: 2.5rem;
  color: #001f3f;
  font-weight: 500;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  color: #3a6d8c;
}

a {
  background-color: #4a249d;
  border: none;
  margin-top: 20px;
}
