.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

mat-card {
  background-color: var(--background-color);
  width: 100%;
  max-width: 400px;
  padding: 20px;
}
.mat-mdc-card-header {
  margin-bottom: 24px;
  width: 100%;
  .mat-mdc-card-header-text {
    width: 100%;
  }
  .mat-mdc-card-header-text {
    width: 100%;
  }
  .mat-card-title {
    width: 100%;
  }
}

.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;

  img {
    height: 50px;
    /* margin: 0 auto; */
  }
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
}
.signup-link {
  text-align: center;
  margin-top: 16px;
  color: #666;

  a {
    color: primary;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
